[2018-08-22 00:11] plbossart opened #20 "remove all references to bee.sh.intel.com"
The build-from-scratch.rst files contains pointers that are irrelevant for a public documentation. Please remove all this

[2018-08-22 00:40] plbossart opened #21 "getting-started: multiple 404 errors"
Xt-xcc links are wrong, same for all platform references

[2018-08-22 05:03] xiulipan commented on #21
@plbossart  these are outdated guide.
Fixed by #23

[2018-08-22 05:03] xiulipan commented on #20
@plbossart
Those are outdated guide
Fixed by #23

[2018-09-14 22:48] #20 closed

[2018-09-14 22:48] #21 closed

[2018-12-03 03:52] xiulipan opened #67 "SOF build scripts update, doc update needed."
SOF build have some update. The doc need update.

[2018-12-03 03:53] xiulipan commented on #67
Assigned myself to update the doc.

[2018-12-03 16:30] lgirdwood commented on #67
Care to describe the updates here ?

[2018-12-04 09:11] xiulipan commented on #67
Update details:

- soft=> sof/tools
- debug build usage
- rom build usage
- scripts usage update.
- logger ldc usage
- abi usage
And some small things, welcome to add more

[2018-12-05 16:42] bkokoszx commented on #67
@xiulipan
Should I help you with updating logger, ldc usage?

Btw. Logger usage is also described in tools readme file.

[2018-12-06 09:20] bkokoszx commented on #67
Ok, so I try to update logger part : )

[2018-12-07 10:16] xiulipan commented on #67
thanks, you can have a rump up about how to write doc in https://thesofproject.github.io/latest/howtos/process/docbuild.html

[2018-12-07 10:16] xiulipan commented on #67
thanks, you can have a rump up about how to write doc in https://thesofproject.github.io/latest/howtos/process/docbuild.html

[2018-12-17 14:16] lgirdwood opened #71 "cmocka: update needed for cmocka usage"
The cmocka page is missing some detail on the commands needed to build xtensa cmocka binary and any patch/diff needed to build such a static library. Instruction for building with GCC should also be provided.

[2018-12-27 08:55] amerysong opened #72 "there is not a script named build-soft.sh"
In the ***Build SOF from scratch*** Chapter, ***Build topology and tools*** section, we should run *build-soft.sh*, but there is no such script in the sof repo.

[2018-12-27 22:47] fredoh9 commented on #72
SOFT is depreciated recently and merged into SOF project. You can build SOFT tool in SOF project.
$ cd ~/work/sof/sof/
$ ./scripts/build-soft.sh

I will update the document and start pull request in a day or two.

[2019-01-03 08:07] xiulipan commented on #72
Please refer #67
Doc will be updated soon.

[2019-01-04 05:46] xiulipan commented on #67
Change in #75

[2019-01-08 13:44] xiulipan opened #77 "tools/coredumper: need debug wiki about how to use it"
Need wiki about how to use the tools/coredumper. Some example or pic result will be helpful.

[2019-01-10 14:53] #67 closed

[2019-01-30 21:44] plbossart opened #86 "remove the prompt in all bash examples"
Make sure people can just copy/paste instructions in a terminal window for all bash examples

Instructions such as
[code]
should really be

[code]

[2019-01-30 21:46] intelkevinputnam commented on #86
Good point. Totally agree.

[2019-01-30 21:47] intelkevinputnam commented on #72
@xiulipan can you confirm that this issue is resolved.

[2019-01-30 21:48] intelkevinputnam commented on #71
@lgirdwood is there a planned PR to address this?

[2019-01-30 21:58] stripes416 commented on #86
Could I take this issue? I don't seem to be able to assign it to myself at the moment.

[2019-01-30 22:12] intelkevinputnam commented on #86
@stripes416 You've got it. :)

[2019-01-30 22:14] stripes416 commented on #86
Thanks @intelkevinputnam!

[2019-01-30 22:34] jajanusz commented on #71
We may se it's resolved with #80 - Things changed meantime, now it builds automatically, so unless user wants to compile some prebuilt lib to speed up things he needs to know nothing about cmocka. Ofc we can always make some verbose documentation about that process, but it's not needed to use it.

[2019-01-30 22:43] plbossart opened #87 "build-from-scratch instructions incorrect"
the following instructions are incorrect
[code]
it's necessary to do a
[code]
 between platforms

[2019-01-31 02:17] plbossart commented on #86
In addition to the fix of the documentation, we should have a matching
script that does everything for you. Instructions are always broken for
months before people bother to report them, a broken script will trigger
more reports.

The hard-coded paths should go away, e.g. ~/work/sof should be replaced
by a variable that can be easily adjusted.

Thanks

-Pierre

[2019-01-31 05:49] xiulipan commented on #72
@intelkevinputnam
Please close this issue. The docs have updated as well as the scripts.

[2019-01-31 08:54] lgirdwood commented on #87
@plbossart not sure why you are seeing this as autotools should be gone ?

[2019-01-31 09:32] jajanusz commented on #87
@lgirdwood
I guess these are listing for building toolchains: https://thesofproject.github.io/latest/getting_started/build-guide/build-from-scratch.html#build-toolchain-from-source

[2019-01-31 12:20] lgirdwood commented on #87
@plbossart got it, it's not for FW but for xtensa-newlib. Can reproduce

[2019-01-31 20:51] lgirdwood commented on #86
@stripes416 whilst you are updating docs the following steps also need rectified

1) Building xtensa-newlib needs a
[code]
after make install and before configure of next target.

2)  The install deps are different for Ubuntu 18.10 compared to Ubuntu 18.4 (documented). + flex bison - kvm e.g.
[code]

[2019-01-31 20:52] #72 closed

[2019-01-31 22:06] jajanusz commented on #77
I think @mwierzbix made it, but he no longer contributes to the project. Maybe @bkokoszx or @akloniex may write docs for it

[2019-02-01 18:20] stripes416 commented on #86
@plbossart @intelkevinputnam Do either of you have a suggestion / opinion on how we should handle situations like:
[code]
(starting at line 143 in getting_started/build-guide/build-from-scratch.rst)

where removing the '$' puts the command at the same indentation as the expected output?

[2019-02-01 20:06] intelkevinputnam commented on #86
@stripes416 I can think of 2 ways of addressing it:

1. Add "#" characters to turn output into comments in a bash script
2. Use separate code blocks for input and output: ".. code-block:: bash" for input and ".. code-block:: console" for output.

[2019-02-01 20:09] intelkevinputnam commented on #86
@plbossart I actually have a script that will pull all of the ".. code-block:: bash" sections from a .rst document and output to stdout.  I agree about using variables, and I'd suggest starting the instructions for a series of steps by defining the variables that will be used later on in the instructions to make the resulting bash script easier to use.

[2019-02-01 21:37] stripes416 commented on #86
@plbossart @lgirdwood Speaking of incorrect instructions -- After the[ alsa-lib](https://thesofproject.github.io/latest/getting_started/build-guide/build-from-scratch.html#build-alsa-lib-and-alsa-utils) instructions, the docs say to:

[code]
However when building the cross compiler for the various platforms, running `./ct-ng build` will give this error:

[code]
If the `export LD_LIBRARY_PATH` is l

[2019-02-06 12:39] dbaluta opened #91 "Add a free to use license for presentations"
This will allow users to use parts / images from the presentations found here:

https://github.com/thesofproject/sof-docs/tree/master/presentations

[2019-02-06 17:20] lgirdwood commented on #91
@intelkevinputnam is this something you can help with. It should be a free and permissive license for the slide and any documentation.

[2019-02-08 09:51] lgirdwood commented on #91
@intelkevinputnam sounds good to me.

[2019-02-08 18:15] intelkevinputnam commented on #91
OK. I've updated the LICENSE file in the root directory to reflect this. We can think about if/where we might want to put this info in the documentation itself.

[2019-02-09 09:43] dbaluta commented on #91
@intelkevinputnam  @lgirdwood Thanks!

[2019-02-09 09:44] #91 closed

[2019-02-10 14:34] xiulipan commented on #87
@lgirdwood @plbossart
For Docker, there is a make clean to avoid conflict. If the `rm etc/config.cache` can solve the issue. I can make a fix for that.

[2019-02-11 19:09] lgirdwood commented on #87
Now fixed in the docs by @stripes416

[2019-02-11 19:09] #87 closed

[2019-02-22 09:31] jajanusz opened #96 "Update docs for building tools with cmake"

[2019-03-26 09:52] jajanusz commented on #71
@intelkevinputnam @lgirdwood
Can one of you close it please?

[2019-03-26 09:54] jajanusz opened #97 "Host build / testbench docs"
There is almost no info about testbench in docs (only how to build it).
We need description telling what it is and how to use it.

[2019-03-26 09:54] jajanusz commented on #97
Probably @singalsu is the best person to address this

[2019-03-26 14:17] lgirdwood commented on #71
@jajanusz I think we need the verbose docs on how users can build cmocka for xtensa locally.

[2019-03-26 14:19] lgirdwood commented on #97
@jajanusz yeah I agree. @singalsu I think we need some simple introduction and instruction for using the testbench (with say the SRC), e.g. just think of realworld usecase and detail the steps.

[2019-03-26 14:27] jajanusz commented on #71
Then it'll be more *educational* article than *how-to*, because it's like ~1 command with our fork: https://github.com/thesofproject/sof/blob/master/test/cmocka/CMakeLists.txt#L13-L26
:smirk:

[2019-03-26 14:41] lgirdwood commented on #71
@jajanusz ok sounds good :)

[2019-03-26 17:45] stripes416 commented on #86
Do we agree this issue is closed? I can't close it myself.

[2019-03-26 19:55] #86 closed

[2019-03-28 12:16] abonislawski commented on #77
docs page: PR #101

[2019-03-29 08:58] xiulipan opened #102 "qemu: need docs about qemu"
Add QEMU build docs
Add QEMU boot test docs

[2019-03-29 08:59] xiulipan commented on #102
@lgirdwood  Please assign to me.

[2019-03-29 12:05] lgirdwood commented on #102
Done, thanks @xiulipan !

[2019-04-03 14:43] singalsu opened #105 "UP2 BIOS download URL need to be public"
The BIOS download URL in https://thesofproject.github.io/latest/getting_started/setup/setup_up_2_board.html need to be fixed. It's an internal Intel server. This BIOS can be used instead https://downloads.up-community.org/download/up-squared-uefi-bios-v4-0/ .

[2019-04-03 14:47] singalsu commented on #97
I have some user's guide text written for SRC. I can extract the test bench part into sof-docs pretty quickly. Also the rest would be useful to publish.

[2019-04-03 20:44] lgirdwood commented on #97
@singalsu sounds good to me.

[2019-04-03 20:46] stripes416 commented on #105
I'm really confused here --- This should have been taken care of here: https://github.com/thesofproject/sof-docs/pull/99 It got merged already.

Am I misunderstanding something?

[2019-04-03 20:52] intelkevinputnam commented on #105
@stripes416 That's on me. It's been merged, but I still need to build and publish. Taking care of it now.

[2019-04-03 20:56] stripes416 commented on #105
@intelkevinputnam I forgot manual effort was involved. Thanks for resolving it!

[2019-04-03 21:05] intelkevinputnam commented on #105
@stripes416 Try it now. Should be updated.

[2019-04-04 00:50] intelkevinputnam commented on #105
@singalsu Please confirm that this is fixed.

[2019-04-04 08:58] xiulipan commented on #105
@intelkevinputnam
I have update the Travis CI for the build.
maybe we can used it to publish.

[2019-04-04 10:56] singalsu commented on #105
Thanks! The URL is now correct.

[2019-04-04 10:59] singalsu commented on #105
This can be closed, the update from PR #99 is merged. Thanks @stripes416 !

[2019-04-04 10:59] #105 closed

[2019-04-04 15:27] intelkevinputnam commented on #105
@xiulipan Sounds good to me.

[2019-04-06 08:49] xiulipan commented on #105
@intelkevinputnam
Then we may have some sync about how to do it and how to give access for the Travis.

[2019-04-15 11:18] jajanusz opened #107 "CMake arguments description: RIMAGE_IMR_TYPE, RIMAGE_PRIVATE_KEY"
Added in
https://github.com/thesofproject/sof/pull/1248
https://github.com/thesofproject/sof/pull/1258

[2019-04-15 11:29] jajanusz commented on #71
@lgirdwood Can we close it or need something more?

[2019-04-15 16:03] #71 closed

[2019-04-24 11:45] dbogdzix opened #112 "Precising/explaining sof intruction steps"
https://github.com/thesofproject/sof-docs/blob/c62205a564b373abfd45212de42119506c3b0da4/getting_started/build-guide/build-from-scratch.rst#L10
Require explanation. What does the clause 'you may enable and test' mean and how it corresponds with building sof from scratch?

[2019-04-24 12:12] dbogdzix opened #113 "Cherry Trail Configuration"
In the instruction a Cherry trail configuration is mentioned but some steps doesn't take this configuration into consideration.
Cherry trail is mentioned here:
https://github.com/thesofproject/sof-docs/blob/c62205a564b373abfd45212de42119506c3b0da4/getting_started/build-guide/build-from-scratch.rst#L285-L292

but those steps couldnt't be executed, because previous steps doesn't include cherry trail

[2019-04-24 12:51] dbogdzix opened #114 "Linux kernel options"
I suggest to describe precisely how to execute the following snippet of instructions:
https://github.com/thesofproject/sof-docs/blob/c62205a564b373abfd45212de42119506c3b0da4/getting_started/build-guide/build-from-scratch.rst#L408

I wasn't able to find these options. Maybe it is unnecessary?

[2019-04-24 13:24] dbogdzix opened #115 "sof-eqctl & matlab/octave scripts"
Sof-eqctl tool section mentions example_iir_eq.m and example_fir_eq.m scripts:

https://github.com/thesofproject/sof-docs/blob/c62205a564b373abfd45212de42119506c3b0da4/getting_started/effects/how-to-use-sof-eqctl-tool.rst#L68-L69

I had generated values but when I tried to use them I got error about wrong abi...

[2019-04-24 13:54] lgirdwood commented on #112
"You may boot and test"

[2019-04-24 13:57] lgirdwood commented on #113
CHT == BYT wrt ISA and compiler. So everytime we say BYT we mean BYT and CHT, likewise everytime we say HSW above we also mean BDW too. e.g.
[code]
becomes
[code]

[2019-04-24 14:01] dbogdzix opened #116 "sof-eqctl"
Is there any method to determine when SOF is idle?
https://github.com/thesofproject/sof-docs/blob/c62205a564b373abfd45212de42119506c3b0da4/getting_started/effects/how-to-use-sof-eqctl-tool.rst#L76-L79

I couldn't get success result when executing
https://github.com/thesofproject/sof-docs/blob/c62205a564b373abfd45212de42119506c3b0da4/getting_started/effects/how-to-use-sof-eqctl-tool.rst#L85

until

[2019-04-24 14:04] lgirdwood commented on #114
@mengdonglin is there someone from kernel team who can explain the Kconfig changes. e.g. a snippet from Kconfig with SST deselected and SOF selected as modules.

@dbogdzix "Select SOF driver support and disable SST drivers." should become "Select SOF driver support and either disable Intel SST drivers or blacklist Intel SST drivers." I've supplied an example blacklist file
[code]

[2019-04-25 08:33] #112 closed

[2019-04-25 08:33] #113 closed

[2019-04-25 11:58] singalsu commented on #116
There's even a bug currently that happens when "sof-eqctl -s" is done during playback/capture. I'll see if I can remove this limitation from FW.

[2019-04-25 12:04] singalsu commented on #116
This https://github.com/thesofproject/linux/issues/753

[2019-04-25 12:07] singalsu commented on #115
Thanks for reporting this, I'll test it as well.

[2019-04-25 12:57] singalsu commented on #115
@dbogdzix It works for me. There was in topic/sof-dev kernel an issue that the ABI check was made too eager by comparing also the minor and patch versions (those differ in current EQ blobs) but it was reverted back. Could it be that you had more than about one week old kernel?

[2019-04-26 09:37] kv2019i commented on #77
The new readme is good for the tool part, but what seems to be still missing is some specification of the expected input dump file content and layout. Feeding dumps from Linux debugfs do not seem to work at least in my environment.

[2019-04-26 15:28] lgirdwood commented on #77
@kv2019i see https://github.com/thesofproject/sof/pull/1335. I'm no python guru, but I have some initail work that helps but does not fully fix support for GDB. I think @ranj063 also has GDB fixes she has still to upstream.

[2019-04-29 08:15] singalsu commented on #97
I haven't had time for this but stay tuned.

[2019-04-29 13:25] jajanusz commented on #97
@singalsu You can wait for refactor first, to not write it twice: https://github.com/thesofproject/sof/issues/1229

[2019-04-29 17:28] singalsu commented on #116
@dbogdzix I created Linux PR https://github.com/thesofproject/linux/pull/890 to fix the issue. With that patch sof-eqctl also reports properly fail if DSP was busy. So there's no need to follow dmesg or sof-logger to see if the command was OK.

I will later also add to firmware feature to update EQ on-the-fly.

[2019-04-29 19:57] lgirdwood commented on #116
@singalsu is there feature to track runtime EQ update. I'm thinking we should mark it for v1.4

[2019-05-08 09:48] #116 closed

[2019-05-08 09:49] #115 closed

[2019-05-10 19:36] plbossart commented on #114
this is not needed anyways if you use the recommended kconfigs.

[2019-05-10 19:36] #114 closed

[2019-05-10 19:38] plbossart opened #120 "MinnowBoard Turbot setup is completely useless"
The instructions refer to internal Intel stuff, don't mention how to get the tools from Cadence and refer to an obsolete kernel.
This has to be redone from scratch.
@wenqingfu please assign someone.

[2019-11-07 19:53] plbossart opened #140 "error 404 on README.md links"
Learn how to setup and generate documentation by reading https://thesofproject.github.io/latest/howtos/process/docbuild.html

The last link does not work: error 404

[2019-11-08 07:14] jajanusz commented on #140
I made a PR there already #139 ;)

[2019-11-11 13:16] #140 closed

[2019-12-20 10:44] singalsu opened #150 "Add technical howto about fixing stream start quality issues with processing components"
Format examples from PR https://github.com/thesofproject/sof/pull/2109 and reported quality issues into sof-docs. We can with the processing components in SOF address several kinds of quality issues with relatively simple topology customization.

[2019-12-20 10:45] singalsu commented on #150
I can't assign myself but I'll contribute this.

[2019-12-23 12:32] mmaka1 opened #152 "Add examples of UAPI channel mapping use"

[2019-12-24 13:48] lgirdwood commented on #152
@mmaka1 good idea, some technical notes here on usage and how to build into topologies would be helpfull

[2020-02-06 13:32] #96 closed

[2020-06-04 16:01] mwasko opened #250 "Add Algorithms input & output capabilities"
It would be useful to provide input / output capabilities of SOF FW Algorithms.

The documentation could be as a table of supported format variations on input & output
Input
Pins count | Sampling Rate formats | Number of Channels | Sample Size | Container Size
Output
Pins count | Sampling Rate formats | Number of Channels | Sample Size | Container Size

[2020-06-04 16:03] mwasko opened #251 "Fix MUX & DEMUX Configuration examples"
The example configuration matrix for MUX & DEMUX are invalid.

https://thesofproject.github.io/latest/algos/demux/demux.html

[2020-06-04 16:34] juimonen commented on #251
@mwasko you mean because implementation has changed? I can also try to fix this if needed as I did the original...

[2020-06-04 18:32] mwasko commented on #251
@juimonen the current MUX & DEMUX configuration matrix does not seem to make any sense, please take a look at it and let me know.

In MUX configuration example both Input Stream 1 and Stream 2 has channels 1,3,5,7 copied to all 8 output channels. It does not match the description.

[2020-06-04 18:42] juimonen commented on #251
@mwasko oh I admit it is quite stupid example of a routing matrix... there's only 2 input/output channels (the red arrows), so essentially everything in the 8x8 matrix that falls out of the 2x2 upper left square is useless i.e. doesn't have any effect. Anyway I think nothing should stop you using this kind of matrix with 2 channel use case and actually you have to define 8x8 in topology even not u

[2020-06-09 08:22] lgirdwood commented on #251
@juimonen @bkokoszx lets roll all our demux/mux fixes up for v1.6. I think we are going in the right direction now.

[2020-07-07 18:45] cujomalainey opened #264 "haswell missing from platform listing"
haswell is not listed as platform under "platforms" even though it is a build target for SOF.

[2020-07-07 20:14] plbossart commented on #264
we should remove this target, no one uses it. Only broadwell is supported on actual hardware.

[2020-07-08 18:15] cujomalainey commented on #264
Shall we transfer this to SOF and mark it as "remove haswell?"

[2020-07-08 19:20] plbossart commented on #264
yep, that would be my recommendation.

[2020-09-28 18:25] cujomalainey opened #290 "Component state graph is missing INIT and SUSPEND state"
We have 6 states in https://github.com/thesofproject/sof/blob/master/src/include/sof/audio/component.h#L61

but our documents only show 4 states. Please update with states and transitions.

https://thesofproject.github.io/latest/developer_guides/firmware/components/component-overview.html#handle-the-component-device-state

Assigning to Marcin as he added all states according to git blame

[2020-09-29 09:19] lgirdwood commented on #290
@mwasko fyi

[2020-10-01 12:34] jajanusz commented on #290
I've added INIT to the diagram in #292 but SUSPENED is not used in FW ATM, I suspect some future-proof engineering happened here. So we will need another update later when it will be defined how transition should look actually.

[2020-10-01 19:38] #290 closed

[2021-02-09 10:59] lyakh opened #329 "update documentation for firmware installation directory"
Instructions at https://thesofproject.github.io/latest/getting_started/build-guide/build-from-scratch.html#firmware-build-results to copy the firmware binary to /lib/firmware/intel/sof are out of date: on some platforms the firmware has to be copied to the community/ subdirectory of that location.

[2021-02-09 13:23] lgirdwood commented on #329
@lyakh I think this is being resolved by @marc-hb for sof-bin - we can update after sof-bin is aligned.

[2021-04-17 09:23] hongshui3000 opened #340 "Is DYNAMIC_INTERRUPTS mandatory in the sof system?"
Is DYNAMIC_INTERRUPTS mandatory in the sof system?
I plan to call the sof library in zephyr, maybe my soc does not support dynamic interrupt.
What is the reason for the need for dynamic interrupt enable in sof?

If CONFIG_LIBRARY is enabled, is it necessary to enable dynamic interrupts?

file : modules\audio\sof\zephyr\wrapper.c
[code]

[2021-04-17 09:50] hongshui3000 opened #341 ""M_PI" does not exist"
When I use zephyr (minimal library) to call sof, I found that there is no definition of "M_PI".
Cause build error

I added the following code：
file:modules\audio\sof\src\math\trig.c
[code]

[2021-04-17 09:52] #340 closed

[2021-04-17 09:53] #341 closed

[2021-04-19 09:09] lgirdwood commented on #341
@hongshui3000 are these still bugs ? @lyakh has not reported any of these ?

[2021-04-19 09:10] lgirdwood commented on #340
@hongshui3000 still an issue ?

[2021-04-19 09:14] lgirdwood commented on #340
@lyakh fyi

[2021-04-19 12:09] paulstelian97 commented on #340
I remember @iuliana-prodan mentioning in a private meeting that DYNAMIC_INTERRUPTS was required on NXP platforms with IRQSTEER so that the latter can work correctly.

[2021-04-19 12:20] iuliana-prodan commented on #340
For me is still not clear if we need DYNAMIC_INTERRUPTS or not.
For now, I've disabled them by:
[code]
But, if somebody from SOF or Zephyr projects can better explain this, it will be great.
Thanks!

[2021-04-19 14:34] lgirdwood commented on #340
IIUC, we will need need the Kconfig symbol, but once Zephyr is default this can be removed. So safe to say N.

[2021-04-20 15:40] cujomalainey opened #342 "diagram in system memory not rendering properly"
you can see parts of the images clipped https://thesofproject.github.io/latest/developer_guides/firmware/mem-mgmt.html#system-zone

[2021-04-20 18:40] lgirdwood commented on #342
@intelkevinputnam are you able to help here ? Looks like the image size is set too small in the html ?

[2021-04-20 18:41] lgirdwood commented on #342
@deb-intel fyi - not sure if this sort of stuff is also in your scope.

[2021-04-20 18:53] intelkevinputnam commented on #342
@lgirdwood I took a quick look, and it looks like a problem with the .svg itself as it is reporting its size as width: 178pt and height: 288pt. I don't have time to dig in today, but can look at it later this week.

[2021-04-20 21:24] lgirdwood commented on #342
@intelkevinputnam thanks, please also check git blame as the author may be able to regenerate the image with the correct size. Alternatively if it's generated as part of documentation build then it may be a tooling issue ?

[2021-04-20 22:31] intelkevinputnam commented on #342
@lgirdwood I dug a little deeper and it looks like it is a problem with the version of graphviz used to generate the website. It is not a problem with either Sphinx or the .dot defintion file as far as I can tell. The svg that sphinx generates on my machine looks fine using version 2.40.1-2 of graphviz. It looks like version 2.42.2-3build2 is used in the GitHub action that builds the site and gene

[2021-05-23 19:32] fxthomas opened #347 "End-user documentation and bug reporting"
I'm not sure if this is the correct place for documentation requests, feel free to point me to the right place.

I had a rather difficult time finding SOF firmware logs with the official kernel from my distribution when trying to debug https://github.com/thesofproject/sof/issues/3868. One of the reasons is that it is still not clear to me, as an end-user relatively unfamiliar with SOF development,

[2021-05-25 09:00] paulstelian97 commented on #347
I'll give my two cents since I know a bit about the logger.

So, `trace` is so-called DMA trace. The `sof-logger` tool will block on it until the firmware gives more logs, then will decode (by using the .ldc file associated with the running firmware, which you must manually provide in the command currently) those logs from the binary format to a user-readable format.

`etrace` is the mailbox traci

[2021-05-25 14:55] lgirdwood commented on #347
Thanks @fxthomas, we are working on this, I think all the developers know the debug tooling so this was missed when we looked at the docs.

[2021-05-25 17:28] fxthomas commented on #347
@paulstelian97 Thank you, that clears a lot of my questions already!

Do I absolutely need to recompile it to do that, or can I enable more verbose logs at run- or boot-time?

On my custom builds where I'm able to properly get logs, the messages themselves (not their order) in `trace` and `etrace` are different (`etrace` has a ton of messages where `trace` only has a few warnings), is the differen

[2021-05-25 17:33] paulstelian97 commented on #347
With most configurations of the firmware (including the default one), yes, there is an expected difference in verbosity, though I believe not in the way you describe it. If you recompile the firmware with a custom configuration that enables Trace error (default on) and Trace mailbox (default off, will send more messages to etrace buffer) you should see they're pretty similar over time.

With DMA t

[2021-05-25 17:41] fxthomas commented on #347
Okay, that explains a bit more, and I can indeed see the logs in real time with DMA trace on my custom kernel. Thanks!

(Just noticed that I mixed up the two in my earlier messages; `/sys/kernel/debug/sof/etrace` (mailbox) is the one that's always present but empty in the official kernels, and `/sys/kernel/debug/sof/trace` (DMA) is only present in my custom builds. Edited to reflect the correct na

[2021-05-29 14:40] fxthomas commented on #347
Just want to add that I just discovered how to enable DMA trace in official builds!

I should have discovered much earlier than I did — the mention of being able to enable firmware trace "dynamically by setting flags in the SOF core module parameter" in [SND_SOC_SOF_DEBUG_ENABLE_FIRMWARE_TRACE](https://cateee.net/lkddb/web-lkddb/SND_SOC_SOF_DEBUG_ENABLE_FIRMWARE_TRACE.html) led me to find out comm

[2021-05-31 12:16] ujfalusi commented on #347
@fxthomas, can you take a look at pull request #351? It adds the missing information (I hope) you have pointed out.

[2021-06-01 17:45] marc-hb commented on #347
shameless plug: https://github.com/thesofproject/sof-test/pull/666 `check-sof-logger: rewrite most of it so it can actually find bugs`

[2021-06-01 21:10] fxthomas commented on #347
@ujfalusi Thanks, that looks good to me, it'll be a good way to get started for future bug reports!

[2021-06-09 21:26] edward-a opened #352 "Undefined AM_GNU_GETTEXT when building alsa-utils [WSL2 Ubuntu 20.04 LTS (Windows)]"
I am following Getting Started instructions to build SOF on WSL2 Ubuntu 20.04 LTS (Windows) and i was able to successfully compile ALSA libraries. I am however stuck on compiling alsa-utils with the following errors:

configure.ac:10: error: possibly undefined macro: AM_GNU_GETTEXT
      If this token and others are legitimate, please use m4_pattern_allow.
      See the Autoconf documentation.
con

[2021-06-15 09:32] lgirdwood commented on #352
@edward-a any update ?

[2021-06-15 17:28] edward-a commented on #352
I tried that but it didn't help. Same error.

[2021-06-15 18:59] edward-a commented on #352
I installed a standalone version of Ubuntu 20.04.2 LTS and i am still having the same error when compiling alsa-utils:

configure.ac:10: error: possibly undefined macro: AM_GNU_GETTEXT
      If this token and others are legitimate, please use m4_pattern_allow.
      See the Autoconf documentation.
configure.ac:11: error: possibly undefined macro: AM_GNU_GETTEXT_VERSION

Can you please help me with

[2021-06-15 20:33] edward-a commented on #352
Building from old Ubuntu 18.10 (the one mentioned in Getting Started) also doesn't work. Running the command below shows that none of the listed packages are available.

sudo apt-get install libgtk-3-dev libsdl1.2-dev libspice-protocol-dev \
   libspice-server-dev libusb-1.0-0-dev libusbredirhost-dev libtool-bin \
   acpica-tools valgrind texinfo virt-manager qemu-kvm \
   libvirt-daemon-system li

[2021-06-15 22:14] edward-a commented on #352
I installed gettext package:

sudo apt-get --fix-missing install gettext

Now I am having another error

**clean.c:55: undefined reference to `snd_ctl_elem_id_compare_set'**

I would really appreciate your help on this!

[2021-06-16 04:21] edward-a commented on #352
I am now stuck at 'Toolchains'

cp config-cnl-gcc10.2-gdb9 .config
**./ct-ng build**

**Build failed in step 'Checking that gcc can statically link libstdc++ (CT_WANTS_STATIC_LINK_CXX)'**

It feels like the Getting Started section is outdated and leads you nowhere. Has anyone recently followed the steps listed there?

[2021-06-16 09:00] lgirdwood commented on #352
@edward-a sorry you are not making good progress, I'm in GMT timezone so my replies may be delayed.

To be honest I think the other developers are all using recent distros (from 2021) and hence this is probably showing up as differences. I would recommend again using a recent distro release from this year (as this would align you with other developers).

Btw, there is now also need to build the GC

[2021-06-16 09:35] ujfalusi commented on #352
I mostly ignored all host OS related sections as they are not applicable for Artix or Gentoo Linux. I needed to install few missing packages on the way when a step failed due to missing host libraries, tools, etc.

I agree that the host side of instructions should be revisited to reflect the current LTS versions of the main distros (Fedora/ubuntu/etc) or convert them to more generic ones to be app

[2021-06-16 22:26] cjechlitschek commented on #352
Ed, does it help to run the following? sudo apt-get install build-essential

[2021-06-17 17:08] edward-a commented on #352
Yes, that helped, thanks! Now i am stuck with the following:

$ time for i in config*gcc10.2-gdb9; do
cp "$i" .config && ../ct-install/bin/ct-ng build || break ;
done

**bash: ../ct-install/bin/ct-ng: No such file or directory**

Here is the list of ct-ng files i found on the disk:

~/work/sof$ find -name ct-ng

**./crosstool-ng/bash-completion/ct-ng
./crosstool-ng/bin/ct-ng
./crosstool-ng/ct-ng
.

[2021-06-17 17:23] cjechlitschek commented on #352
you can you the ct-ng like in the step before. So the adjusted snippet is "time for i in config*gcc10.2-gdb9; do    cp "$i" .config && ./ct-ng build || break ; done"

[2021-06-17 21:11] edward-a commented on #352
That worked. I was able to successfully build SOF.

[2021-06-18 06:02] ujfalusi commented on #352
@edward-a, @cjechlitschek, thank you for noticing this, I have created a PR to fix the ct-ng path: #353

FYI: @lgirdwood, @marc-hb

[2021-06-18 06:18] ujfalusi commented on #352
@edward-a, @cjechlitschek, update to mention `build-essential` as, well, essential to build SOF: #354

FYI: @lgirdwood, @marc-hb

[2021-06-18 11:54] #352 closed

[2021-07-29 17:10] cujomalainey opened #365 "free handler missing from component state graph"
With increased talk of dynamic pipelines, we need to document what states its appropriate to call the free handler. Please add this information to the component state machine graph

[2021-08-25 23:54] cujomalainey opened #366 "[Platforms] Add AMD, NXP, Mediatek and Intel supported platforms to the list"
Hello Basavaraj

Please update the docs on this site with the supported AMD platform (see [this list](https://thesofproject.github.io/latest/platforms/index.html)) Thanks

[2021-09-15 16:59] bhiregoudar commented on #366
Hi,
Thanks,
I was waiting for the driver also to get merged. What is the process to get the list updated? Should I provide the data here or need to contact someone to update the page? Please let me know.

[2021-09-15 17:21] bhiregoudar commented on #366
I got it, I need to create a pull request with edited doc right?

[2021-09-15 17:48] cujomalainey commented on #366
Yep that is correct :) docs are just another repo

[2021-09-16 10:24] lgirdwood commented on #366
@kuanhsuncheng @dbaluta we are also missing new platforms from NXP and Mediatek.

[2021-09-16 10:31] lgirdwood commented on #366
@mengdonglin @keyonjie we are missing Alderlake too.

[2021-09-16 13:23] dbaluta commented on #366
@lgirdwood will add NXP i.MX8ULP patches after AMD patch gets merged to avoid conflicts.

[2021-09-16 14:02] kuanhsuncheng commented on #366
@lgirdwood,

I will discuss with my colleague and add MT8195 patches as soon as possible

[2021-10-05 06:03] kuanhsuncheng commented on #366
create new PR https://github.com/thesofproject/sof-docs/pull/371

[2021-10-05 08:47] dbaluta commented on #366
created PR https://github.com/thesofproject/sof-docs/pull/372 for imx8ulp

[2021-10-05 11:40] dbaluta commented on #366
@lgirdwood @cujomalainey AMD, Mediatek and NXP platforms added to documentation page. Not sure if there is anything to be added for Intel. If all OK then we can close this PR.

[2021-10-05 13:58] lgirdwood commented on #366
@anton-intel are you able to add Intel Alder Lake platform to this list. The specs are the same as Tigerlake, so the same row could be used. Thanks. @deb-intel fyi.

[2021-10-05 15:22] anton-intel commented on #366
Created PR #374 to add Intel Alderlake

[2021-10-05 20:54] #366 closed

[2021-11-16 01:11] Rogety opened #384 "Clarify Docker build is just one option (was: build SOF fail with docker)"
_Transferred from `sof` to `sof-docs`, see November 18th comment below from @greg-intel_  why.

**Describe the bug**
I run ./docker-build.sh in .../sof_buiilder directory
the mirror http://isl.gforge.inria.fr/ is down
Then I stuck in downloading isl-0.19.tar.xz

the mirror http://isl.gforge.inria.fr/ is down
So I change mirror https://libisl.sourceforge.io , it can work
but the cnofig file in SOF

[2021-11-19 18:10] rfvirgil opened #385 "Can't load firmware on UP Xtreme with 5.12 kernel"
Board: Up Xtreme board (WHL01), BIOS version 1.9 (UPW1AM19).

I have been using 5.10-rc7 kernel with 1.6.1 sof firmware and this has been working just fine.
But when I change to 5.12.0-rc8 kernel from torvalds/master the SOF firmware fails to load (see dmesg output at end of this ticket). I tried replacing the sof firmware with 1.7 from this repo, but get exactly the same problem.

I've tracked th

[2021-11-19 18:36] marc-hb commented on #329
The installation process has been completely redesigned and documented in https://github.com/thesofproject/sof-docs/pull/349/files. Do you think we can close this?

[2021-11-19 18:44] marc-hb commented on #384
I think I found why the doc is confusing, it comes from a recent change https://github.com/thesofproject/sof-docs/pull/382/files Compare the doc before versus after it:

- BEFORE: https://github.com/thesofproject/sof-docs/blob/65d9f9a8~1/getting_started/build-guide/build-with-docker.rst
- AFTER: https://github.com/thesofproject/sof-docs/blob/65d9f9a8/getting_started/build-guide/build-with-docker.r

[2021-11-22 12:24] anton-intel commented on #384
@marc-hb, @Rogety, a bullleted list indicates a user choice (either or), a numbered list - a sequence of steps.

Would the following change work better?
Add Option 1 and Option 2 to the list. Move the note about building the container to Option 2 so that it does not between the into sentence and the choices...

To easily build SOF binaries, we need a Docker image containing all of the cross-compil

[2021-11-22 17:40] greg-intel commented on #384
I think that's much clearer.  Labeling them with Option 1/2 implies exclusion.

[2021-11-23 09:37] paulstelian97 commented on #384
Option 1/Option 2 works. I'd have also suggested saying "Either of the following" or "Exactly one of the following" before the list.

[2021-11-23 13:52] anton-intel commented on #384
I added PR #388 to update the topic.

[2021-12-05 13:06] GFoniX opened #389 "Intel driver not working"
Hello,
I don't know if it's the right place for this.
My internal output and input devices is not recognised.
Alsa only found headphone jack output.

On this link there is all the devices on my computer [https://linux-hardware.org/?probe=66cbadb1c1](url)

Hope it can be fix

(I have Tiger Lake-LP Smart Sound Technology Audio Controller)

[2021-12-05 13:06] #389 closed

[2021-12-30 18:18] greg-intel commented on #384
Closing this issue, as the related PR #388 has been merged.

[2021-12-30 18:18] #384 closed

[2021-12-31 20:43] lgirdwood opened #398 "Update list of development HW to include new boards from Intel, AMD, NXP, Mediatek and Google"
sof docs list some older development hardware platforms, but does not list recommended development HW and links. A new HW list should be added to include latest recommended public developer HW from Intel, AMD, NXP, Mediatek and Google.

@dbaluta @yaochunhung @kuanhsunchen @bhiregoudar @sunilkumardommati @mengdonglin @cujomalainey

We could add a table to the end of https://thesofproject.github.io/

[2022-01-03 20:50] marc-hb commented on #398
For Chromebooks I feel like #379 covered most details because in #379 @cujomalainey said all Chromebooks are the same.

For Up boards we miss some generic BIOS upgrade info, see open #385

[2022-01-04 23:15] cujomalainey commented on #398
@marc-hb is correct, all platforms on that list that are also chromebooks currently or will support SOF

[2022-01-05 14:30] lgirdwood commented on #398
ok great - I will close in a few days. @dbaluta @yaochunhung @kuanhsunchen @bhiregoudar @sunilkumardommati feel free to add or suggest any products (by name) you have when convenient.

[2022-01-24 13:37] JCesarMolina opened #403 ""Hello World Tutorial" doesn't compile"

[2022-02-04 18:23] marc-hb commented on #403
@JCesarMolina please don't use screenshots as they cannot be searched/quoted/etc.. You can edit the description and replace it with a regular copy/paste.

[2022-02-07 10:59] lgirdwood commented on #403
@anton-intel this OK for you ?

[2022-03-21 10:35] JCesarMolina opened #408 "Problem with modifying topology files"
Hello,
I have been following the Hello World Tutorial, and in the [Part II - Modifying the Topology & Driver](https://thesofproject.github.io/latest/developer_guides/firmware/component-tutorial/tut-ii-topology.html) I got the following output:

I don catch where is the error, then i tried to modify [sof-imx8mp-wm8904.m4](https://github.com/thesofproject/sof/pull/5302/files) , it can be compiled, I

[2022-03-21 12:07] JCesarMolina commented on #408
Hello,
I noticed that in the code tools/topology/amp_bytes.m4 in [Part II - Modifying the Topology & Driver](https://thesofproject.github.io/latest/developer_guides/firmware/component-tutorial/tut-ii-topology.html)
[code]
It should has just one apostrophe in the end of the 7th line. Now the code for pipe-volume-playback-4test.m4 compiles.

[2022-03-21 17:22] lgirdwood commented on #408
@JCesarMolina best to have a recent distro as the SOF developers mostly use recent distro releases with latest ALSA, GCC, cmake etc..

[2022-03-23 13:48] JCesarMolina commented on #408
lgirdwood I think so, but i followed the tutorial based on that i have kubuntu 18.04 ,i have to do it using that version. in the [website](https://thesofproject.github.io/latest/getting_started/build-guide/build-from-scratch.html):

If you are using Ubuntu 16.04, the gcc version must be updated to gcc 7.3+ in order for the Advanced Linux Sound Architecture (ALSA) to build.
[code]
to avoid any prob

[2022-03-23 13:57] JCesarMolina commented on #408
@plbossart , it means that there's no syntax error in the 7th line?

[2022-03-23 14:54] plbossart commented on #408
Are you referring to this @JCesarMolina

[code]

I am not sure why there are two quotes in the end, but that should be harmless. @ranj063 would you concur?

[2022-04-01 15:47] JCesarMolina opened #410 "How to test firmware and topology files"
Hello,
I follow the [tutorial](https://thesofproject.github.io/latest/developer_guides/firmware/component-tutorial/tut-i-basic-fw-code.html) , I modify a little the file amp.c taking into count the switch.c and volume.c , The files compiles.

The code amp.c is:

[code]
I used the next topology file from [here](https://github.com/thesofproject/sof/pull/5302/files#r797741019) :
[code]
and this pipe-